<div id="app_footerBox">
		<div id="footer_cont">
			<ul>
				<li id="certifyinfo">				 
		            <div class="info_text">
		                <p>营业执照注册号：<a href="" target="_blank">330106000129004</a></p>
		                <p>业务经营许可证：<a href="" target="_blank">浙B2-20110349</a></p>
		                <p>ICP备案号：鄂ICP备</p>
		                <p class="mgjhostname" title="">©2014 ******.com&nbsp;泛米网络有限公司</p>
		            </div>
				</li>
				<li class="link_company">
					<dl>
			           <dt>公司</dt>
			           <dd><a href="" target="_blank">关于我们</a></dd>
			           <dd><a href="" target="_blank">招聘信息</a></dd>
			           <dd><a href="" target="_blank">联系我们</a></dd>
			        </dl>
				</li>
				<li class="link_consumer">
					<dl>
			           <dt>消费者</dt>
			           <dd><a href="" target="_blank">帮助中心</a></dd>
			           <dd><a href="" target="_blank">意见反馈</a></dd>
			           <dd><a href="" target="_blank">手机版下载</a></dd>
			        </dl>
				</li>
				<li class="link_produce">
					<dl>
			           <dt>商家</dt>
			           <dd><a href="" target="_blank">帮助中心</a></dd>
			           <dd><a href="" target="_blank">商家培训</a></dd>
			           <dd><a href="" target="_blank">商家招募</a></dd>
			        </dl>
				</li>
				<li class="link_safe">
					<dl>
			           <dt>权威认证</dt>
			           <dd>
			              <a class="pc" href="" target="_blank"></a>
			              <a class="pa" href="" target="_blank"></a>
			              <a class="kx" href="" target="_blank"></a>
			            </dd>
			        </dl>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>