.mainList_1{
    margin:0 auto;
	width:1000px;
	height:300px;
	background-color:#fff;
	padding-top:30px;
	border-bottom:1px solid #ccc;
}
.mainList_2{
    margin:0 auto;
	width:1000px;
	height:300px;
	background-color:#fff;
	padding-top:30px;
	border-bottom:1px solid #ccc
}