*{
	margin:0;
	padding:0;
	border:0;
}
.headerNav{
	width:100%;
	height:60px;
	line-height:60px;
	background-color:#000;
	position:fixed;
	z-index:100;
}
.headerNav ul{
	height:60px;
	min-width:600px;
	width:1000px;
	margin:0 auto;
	text-align: center;
	font-size:0px;
}
.headerNav ul li{
	list-style:none;
	display:inline-block;
	font-size:25px;
	font-weight:"微软雅黑";
	font-weight:bold;
	margin-right:80px;
	vertical-align:top;
	padding:0 20px;
}
.headerNav ul li a:hover{
	color:#76BC40;
}
.headerNav ul li a{
	text-decoration:none;
	color:#fff;
}
.headerNav ul li .pic{
	display:inline-block;
	width:100px;
	height:100px;
	background-image:url(../images/1.jpg);
	z-index:100;
	border-radius:50%;
	border:2px solid #fff;
	margin-top:5px;

}
#about{
	background-color: #ccc;
	min-height:600px;
	padding-top:200px;

}
#works{
	background-color: #27AE60;
	min-height:600px;

}
#ablity{
	background-color: #2980B9;
	min-height:600px;
	padding-top:50px; 
}
#contact{
	padding-top:150px;
	background-color: #C0392B;
	min-height:600px;
}
.actived{
	background-color:#666;
}
.actived a{
	color:#ccc !important;
}
.sp{
	width:800px;
	margin:0 auto;
}
.list span{
	display:block;
	font-size:20px;
	color:#000;
	text-align:left;
	line-height:60px;

}
.sp ul {
	/* margin-bottom:0;  */
} 
 .sp ul li{
	height:30px; 
	list-style: none;
	color: #fff;
	font-size:14px;
	line-height:30px;
	border-bottom:1px dashed #fff;
}
