.contlist a{
	 text-decoration:none;
}
.contlist a:hover{
	 text-decoration:none;
}
.contlistTitle{
	font-size:18px;
	line-height:30px;
	color:#666;
	/* background-color: #f0f; */
	padding:10px 0px 10px 20px;
	color:#76BC40;
}
.contlistTitle>span{
	margin-right:10px;
}
.contlist{
	margin:0px 0 20px 0;
	background-color:#fff;
	padding-bottom:10px;
	box-shadow: 10px 10px 5px #888888;
}
.contlistImg{
	overflow:hidden;
}
.contlisttext{
	text-indent:2em;
	height:100px;
	line-height:25px;
	margin-bottom: 10px;
	/* background-color:#666 */
	color:#999;
	overflow:hidden;
}
.contlistfooter{
	height:40px;
	line-height:40px;
	color:#76BC40;
	text-align: right;
}
.contlistfooter>span{
	margin-right:10px;

}
.love_article{
	cursor:pointer;
}
.rightliest1{
	margin:0px 0 20px 0;
	background-color:#fff;
	padding-bottom:10px;
	box-shadow: 10px 10px 5px #888888;
	padding:10px 
}
.rightliest_my{
	padding:0 0 5px 0;
	margin-bottom:10px;
	color:#76BC40;
	font-size: 16px;
	border-bottom:2px dashed #888;
}
.rightliest_myinfo>span{
	cursor:pointer;
	color:#999;
	padding:5px
}
.rightliest_myinfo span:hover{
	color:#f00;
}
.tablist a{
	color:#76BC40;
}
.tablist1{
	padding:20px 0 5px 0;
	margin:20px 0 10px 0;
	border-top:2px dashed #888888;

}
.tablist2{
	padding:20px 0 5px 0;
	margin:10px 0;
	border-top:2px dashed #888888;

}
.tablist2title2>span,.tablist2title1>span{
	height:33.33px;
	line-height:33.33px;
	color:#76BC40;
}
.tablist2articlelist {
	margin-bottom:10px;
	color:#76BC40;
}
.tablist2title1,.tablist2title2{
	margin-bottom:10px;
}
.tablist2articlelist{
	padding-left:10px;
}
.tablist2articlelist li {
	list-style-type:none;
	padding:5px 0;
	border-bottom:1px solid #ccc;

}
.tablist2articlelist span,.tablist2articlelist li a{
	color:#999;
	text-decoration:none;
}
.tablist2articlelist li:hover span{
	color:#76BC40;
	font-weight:bold;
	font-size:16px;
}
.tablist2articlelist li:hover a{
	color:#76BC40;
	font-weight:bold;
	font-size:16px;
}
.btnlink{
	width:120px;
}