.navbar{
	margin-bottom:0px;
}

.main{
	margin-top:80px;
	min-height:443px;
}
.left1,.right1{
	padding-top: 20px;
	
}
.right1{
	margin-top: 50px;
	border:2px dashed #ccc;
	box-shadow: 10px 10px 5px 5px #888888;
}
.footer{
	height:50px;
	background-color:#000;;
	line-height:50px;
	color:#fff;
}
.notice{
	display:none;
	color:#f00;
}
