	<link rel="stylesheet" href="{$Think.const.APP_HOME_STYLE}fillin.css" type="text/css">
	<script type="text/javascript" src="{$Think.const.FM_HOME_JS}cart2.js"></script>
<script type="text/javascript" src="{$Think.const.URL}Public/cxselect/jquery.cxselect.min.js"></script>
<script>
$(function(){
	$.cxSelect.defaults.url = "{$Think.const.URL}Public/cxselect/cityData.min.json";	
});
</script>
	<!-- 页面头部 start -->
	<div class="header w990 bc mt15">
		<div class="logo w990">
			<h2 class="fl">泛米科技有限公司</h2>
			<div class="flow fr flow2">
				<ul>
					<li>1.我的购物车</li>
					<li class="cur">2.填写核对订单信息</li>
					<li>3.成功提交订单</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- 页面头部 end -->	
	<div style="clear:both;"></div>
	<empty name="Think.session.fm_user_id">
	<!-- 登录提醒 end -->
	<div class="noticeLogin">
		<ul>
			<li>
				<dd class="wareNotice" style="margin-top:8px"></dd>
				<dd>你当前未登录！</dd>
			</li>
			<li>如果已有泛米网账号，请登录获取收货地址</li>
			<li><a class="go_login_btn" href="javascript:;" title="马上登入">马上登入</a></li>
		</ul>       
    </div>
	<!-- 登录提醒 end -->
	<div style="clear:both;"></div>
	</empty>
	<!-- 主体部分 start -->
	<div class="fillin w990 bc mt15">
		<div class="fillin_hd">
			<h2>填写并核对订单信息</h2>
		</div>
		<div class="fmcartfill">
		<empty name="Think.session.fm_user_id">
			<!-- 收货人信息  start-->
			<script type="text/javascript">
				$('.city_china').cxSelect({
					selects: ['province', 'city', 'area']
				});
			</script>
			<div class="address">
				<h3>收货人信息 </h3>
				<div class="delivery" id="fmUser_address">
						<ul>
							<li>
								<label for=""><span>*</span>收 货 人：</label>
								<input type="text" name="reciver" id="reciver" class="txt" />
								<span class="submitNotice"></span>
							</li>
							<li>
								<label for=""><span>*</span>所在地区：</label>
								<fieldset class="city_china">
									省份：<select class="province cxselect" disabled="disabled" name="province" data-required="true" id="province"></select>
									城市：<select class="city cxselect" disabled="disabled" name="city" id="city"></select>
									地区：<select class="area cxselect" disabled="disabled" name="area"></select>
								</fieldset>								
							</li>
							<li>
								<label for=""><span>*</span>详细地址：</label>
								<input type="text" name="detailAddress" id="detailAddress" class="txt address"  />
								<span class="submitNotice"></span>
							</li>
							<li>
								<label for=""><span>*</span>手机号码：</label>
								<input type="text" name="tel" class="txt" id="tel" />
								<span class="submitNotice"></span>
							</li>
							<li>
								<label for=""><span>*</span>邮箱：</label>
								<input type="text" name="email" class="txt" id="email" />
								<span class="submitNotice"></span>
							</li>
						</ul>
				</div>
			</div>
			<!-- 收货人信息  end-->
			<else/>
			<!-- 收货人信息  start-->
				<empty name="allAddress">
				<div class="address">
					<h3>暂时没有收货地址 <a href="javascript:;" id="add_address" >[添加]</a></h3>
						<form action="" class="none" name="address_form" id="address_form">
							<ul>
								<li>
									<label for=""><span>*</span>收 货 人：</label>
									<input type="text" name="name" class="txt" />
									<span></span>
								</li>
								<li>
									<label for=""><span>*</span>所在地区：</label>
									<fieldset class="city_china">
										省份：<select class="province cxselect" disabled="disabled" name="province" data-required="true" id="province"></select>
										城市：<select class="city cxselect" disabled="disabled" name="city" id="city"></select>
										地区：<select class="area cxselect" disabled="disabled" name="area" id="area"></select>
									</fieldset>
									<span></span>
								</li>
								<li>
									<label for=""><span>*</span>详细地址：</label>
									<input type="text" name="shr_address" class="txt address"  />
									<span></span>
								</li>
								<li>
									<label for=""><span>*</span>手机号码：</label>
									<input type="text" name="shr_phone" class="txt" id='tel'/>
									<span></span>
								</li>
								<li>
									<input type="hidden" name="addressid" value="0">
									<input type="hidden" name="id" value="{$Think.session.fm_user_id}">
									<a href="javascript:;" class="confirm_btn"><span>保存收货人信息</span></a>
								</li>
							</ul>
						</form>		
				</div>
				<else/>
				<div class="address">
					<h3>收货人信息 <a href="javascript:;" id="address_modify">[修改]</a></h3>
					<div class="address_info">
						<p>{$default.shr_name}  {$default.shr_phone} </p>
						<p>{$default.shr_province} {$default.shr_city} {$default.shr_area} {$default.shr_address} </p>
					</div>

					<div class="address_select none">
						<ul>
							<volist name="allAddress" id="address">
							<if condition="$address['id'] eq $default['id']">
							<li class="cur">
								<input type="radio" name="address" checked="checked" />
							<else/>
							<li>
								<input type="radio" name="address"  />
							</if>
							<span>{$address.shr_name}</span><span> {$address.shr_province}</span><span> {$address.shr_city}</span><span> {$address.shr_area}</span><span> {$default.shr_address}</span><span> {$address.shr_phone} </span>
								<a href="javascript:;" onclick="setDefault({$address.id},{$Think.session.fm_user_id})">设为默认地址</a>
								<a href="javascript:;" onclick="modifyaddress(this,{$address.id})">编辑</a>
								<a href="javascript:;" onclick="deladdress(this,{$address.id},{$Think.session.fm_user_id})">删除</a>
							</li>
							</volist>
							<li><input type="radio" name="address" class="new_address"  />使用新地址</li>
						</ul>	
						<form action="" class="none" name="address_form" id="address_form">
							<ul>
								<li>
									<label for=""><span>*</span>收 货 人：</label>
									<input type="text" name="name" class="txt" />
									<span></span>
								</li>
								<li>
									<label for=""><span>*</span>所在地区：</label>
									<fieldset class="city_china">
										省份：<select class="province cxselect" disabled="disabled" name="province" data-required="true" id="province"></select>
										城市：<select class="city cxselect" disabled="disabled" name="city" id="city"></select>
										地区：<select class="area cxselect" disabled="disabled" name="area" id="area"></select>
									</fieldset>
								</li>
								<li>
									<label for=""><span>*</span>详细地址：</label>
									<input type="text" name="shr_address" class="txt address"  />
									<span></span>
								</li>
								<li>
									<label for=""><span>*</span>手机号码：</label>
									<input type="text" name="shr_phone" class="txt" id='tel'/>
									<span></span>
								</li>
								<li>
									<input type="hidden" name="addressid" value="0">
									<input type="hidden" name="id" value="{$Think.session.fm_user_id}">
									<a href="javascript:;" class="confirm_btn"><span>保存收货人信息</span></a>
								</li>
							</ul>
						</form>						
					</div>
				</div>
				</empty>
				<!-- 收货人信息  end-->
			</empty>
			<!-- 支付方式  start-->
			<div class="pay">
				<h3>支付方式</h3>
				<div class="pay_select">
					<table> 
						<tr>
							<td class="col1"><input type="radio" name="pay" value="1" />货到付款</td>
							<td class="col2">送货上门后再收款，支持现金、POS机刷卡、支票支付</td>
						</tr>
						<tr  class="cur">
							<td class="col1"><input type="radio" name="pay" checked value="2"/>在线支付</td>
							<td class="col2">即时到帐，支持绝大数银行借记卡及部分银行信用卡</td>
						</tr>
						<tr>
							<td class="col1"><input type="radio" name="pay" value="3"/>上门自提</td>
							<td class="col2">自提时付款，支持现金、POS刷卡、支票支付</td>
						</tr>
					</table>
				</div>
			</div>
			<!-- 支付方式  end-->
			<form action="#" name="orderinfo" id="orderinfo">
				<input type="hidden" name="curAddress" value="{$default.id}">
				<input type="hidden" name="curPayMethod" value="2">
			</form>
			<!-- 商品清单 start -->
			<div class="goods">
				<h3>商品清单</h3>
				<table>
					<thead>
						<tr>
							<th class="col1">商品</th>
							<th class="col2">规格</th>
							<th class="col3">单价</th>
							<th class="col4">数量</th>
							<th class="col5">小计</th>
						</tr>	
					</thead>
					<tbody>
						<volist name="goodsData" id="data">
						<tr>
							<td class="col1"><a href=""><img src="{$Think.const.URL}Public/{$data.goods.goods_mid_img}" alt="" /></a>  <strong><a href="">{$data.goods.goods_name}</a></strong></td>
							<td class="col2"> 
							<p>身高：{$data.userheight}</p>
							<p>体重：{$data.userweight}斤</p> 
							<p>尺码：{$data.goods_size}</p> 
							</td>
							<td class="col3">￥{$data.goods.goods_price}.00</td>
							<td class="col4">{$data.amount}</td>
							<td class="col5"><span>￥<php>echo $data['amount']*$data['goods']['goods_price'];</php>.00</span></td>
						</tr>
						</volist>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5">
								<ul>
									<li>
										<span> 件商品，总商品金额：</span>
										<em>{$totalPrice}.00￥</em>
									</li>
									<li>
										<span>运费：</span>
										<em>￥0</em>
									</li>
									<li>
										<span>应付总额：</span>
										<em>{$totalPrice}.00￥</em>
									</li>
								</ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- 商品清单 end -->
		
		</div>

		<div class="fillin_ft">
			<a href="javascript:;" id="check_address"><span>提交订单</span></a>
			<p>应付总额：<strong>{$totalPrice}.00￥元</strong></p>
			
		</div>
	</div>
	<!-- 主体部分 end -->
				
	<div style="clear:both;"></div>
