/*
@功能：底部导航css
@作者：lidequna
@时间：2015年03月5日
*/

.user_hd{width: 988px; border: 1px solid #e6e6e6; overflow: hidden; border-bottom: 0;}
.user_hd h3{height: 33px; line-height: 33px; border-bottom: 2px solid #c30; font-size: 14px; color:#cc0000; font-weight: bold; padding-left: 20px;}

.user_bd form li{padding: 10px 0;}
.user_bd form li label{width: 70px; float: left; display: inline; text-align: right; color: #666; position: relative; top:5px;}
.user_bd form li strong{font-weight: 600; color: #333; position: relative; top:5px;	}
.user_bd form .txt{width: 250px; border-width: 1px; border-style: solid; border-color:#aaa #ddd #ddd #aaa; padding: 5px; height: 26px; padding:0 5px; }
.user_bd form .sbtn{width: 60px; height: 25px;}
.envelope{
	margin-top: 10px;
	color: #666;
	font-size: 14px;
	letter-spacing: 2px;
}
.envelope ul{
	list-style: none;
}
.envelope ul li{
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #AAA;
}
.envelope ul li span{
	color: #FF0000;
}
.envelope ul li p{
	display: block;
	float: left;
	margin-left: 30px;
}
.envelope ul li a{
	display: block;
	float: right;
	margin-right: 30px;
	cursor: pointer;
}
.envelope .title{
	height: 40px;
	line-height: 40px;
	font-style: 16px;
	font-weight: 700px;
	background-color: #EEE;
	color: #222;
	padding-left: 10px;
	letter-spacing: 5px;
	border-bottom: 1px solid #999;
}
.confirm_btn{
	display: block;
	width: 150px;
	height: 35px;
	line-height: 35px;
	letter-spacing: 2px;
	font-size: 14px;
	background-color: #E8A703;
	text-align: center;
	font-weight: 700;
	text-decoration: none;
	margin-left: 100px;
}
.confirm_btn:hover{
	text-decoration: none;
}
.curmenua{color:#FF0000;}