<style type="text/css">
.message{
	width: 1100px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #DDD;
}
.message p{
	margin-top: 50px;
	line-height: 35px;
	text-align: center;
	height: 35px;
}
.message .cont{
	font-size: 16px;
	font-weight: bold;
}
</style>
<div class="message">
<p class="error"><?php echo($error); ?></p>
<p>
页面自动<a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
</p>
</div>
<script type="text/javascript">
(function(){
var wait = document.getElementById('wait'),href = document.getElementById('href').href;
var interval = setInterval(function(){
	var time = --wait.innerHTML;
	if(time <= 0) {
		location.href = href;
		clearInterval(interval);
	};
}, 1000);
})();
</script>
