 *{
 	margin:0px;
 	padding:0px;
 	border:0px;
 }
 body{
 	background-color:#343434;
 }
 .bg-img{
 	background-image:url(../images/river.jpg);
 	width:1228px;
 	height:650px;
 	margin:0 auto;
 }
 form{
	background-color:#fff;
	display: inline-block;
	vertical-align:middle; /* 改变垂直对齐方式 */
	width:300px;
	position:relative;
 }
 .logo{
 	margin: 10px 20px 0 0;
 	vertical-align:middle;
 }
 .search{
 	width:600px;
 	font-size:0;/* 消除设置display为inline-block出现的水平空白 */
 	margin:0 auto;
 	padding-top:300px;
 }
 .input-search-text{
	outline:none; 
	height:25px;
	line-height:25px;
	vertical-align:middle;
	width:270px;
 }
 .input-search-button{
 	background-image:url(../images/search-button.png);
 	width:29px;
	height:29px;
	vertical-align:middle;
 }
 .input-search-button:hover{
 	cursor:pointer;
 }
 .suggest{
 	display:none; 
 	position:absolute;
 	width:298px;
 	background-color:#fff;
 	border:1px solid #ccc;
 	top:29px;
 	font-size:12px;
 }
  .suggest ul li {
  	padding:3px;
  	line-height:25px;
  	list-style:none;
  	cursor:pointer;
  }
 .suggest ul li a{
 	text-decoration:none;
 	color:#000;
 }
 .suggest ul li:hover{
 	background-color:#ccc;
 }