    <span class="action-span"><a href="__MODULE__/Goods/showlist">商品列表</a>
    </span>
    <span id="search_id" class="action-span1"> - 编辑商品 </span>
    <div style="clear:both"></div>
</h1>

<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab"><a href="__CONTROLLER__/goodsEdit/goods_id/{$curGoods.goods_id}">1.编辑信息</a></span>
            <span class="tab-front" id="general-tab"><a href="__CONTROLLER__/goodsEdit2/goods_id/{$curGoods.goods_id}">2.编辑商品图片</a></span>
            <span class="tab-front" id="general-tab"><a href="__CONTROLLER__/goodsEdit3/goods_id/{$curGoods.goods_id}">3.编辑商品简介</a></span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="__MODULE__/Goods/goodsEditing" method="post">
            <table width="90%" id="general-table" align="center" class="spanandtable" >
                <tr>
                    <td height="35px">添加新图片</td>
                </tr>
               <tr>
                    <td><input type="file" name="logo" /></td>
               </tr>
               <tr>
                    <td height="35px">
                    <hr>
                    现有图片</td>
                </tr>
               <tr>
                    <td>
                        <ul>
                        <volist name="goodsPicinfo" id="image">
                            <li style="float:left;margin:5px; list-style-type: none;">
                                <img width="200" src="{$Think.const.URL}Public/{$image['mid_img']}" /><br />
                                <a href="javascript:;" onclick="delImg(this,{$image['id']});">[删除]</a>
                            </li>
                        </volist>
                        </ul>
                    </td>
               </tr>
            </table>
            <div class="button-div">
                <input type="hidden" name="goods_id" value="{$curGoods.goods_id}">
                <input type="hidden" name="step" value="goodsEdit2">
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
function delImg(a,id)
{
    if(confirm('确定要删除吗？'))
    {
        //通过ajax删除该图片
        $.ajax({
        type : "POST",
        data: "imgsid="+id,
        url : "__CONTROLLER__/ajaxdelImg",
        dataType : "json",
        success : function(data)
        {   
            if(data['isSuc']==1){
               var li = $(a).parent();
               li.remove();
            }

        }
    });
       
    }
}
</script>